 .body {
    margin: 0;
    padding: 0;
    height: 260vh;
    font-size: 50px;
  }

  @media (min-width: 800px) {
    .raindrop {
      position: absolute;
      z-index: -2;
      animation: none;
    }
  
    .rain-overlay {
      position: relative;
    }
  
    .rain-animation-started .raindrop {
      width: 4px;
      height: 17px;
      background: rgb(11, 11, 11);
      opacity: 0.5;
      animation: fall 0.8s linear infinite;
    }
  
    .raindrop:nth-child(1) {
      left: 10%;
      animation-delay: 0s;
    }
  
    .raindrop:nth-child(2) {
      left: 20%;
      animation-delay: -0.2s;
    }
  
    .raindrop:nth-child(3) {
      left: 30%;
      animation-delay: -0.4s;
    }
  
    .raindrop:nth-child(4) {
      left: 40%;
      animation-delay: -0.6s;
    }
  
    .raindrop:nth-child(5) {
      left: 50%;
      animation-delay: -0.8s;
    }
  
    .raindrop:nth-child(6) {
      left: 60%;
      animation-delay: -1s;
    }
  
    .raindrop:nth-child(7) {
      left: 70%;
      animation-delay: -1.2s;
    }
  
    .raindrop:nth-child(8) {
      left: 80%;
      animation-delay: -1.4s;
    }
  
    .raindrop:nth-child(9) {
      left: 90%;
      animation-delay: -1.6s;
    }
  
    .raindrop:nth-child(10) {
      left: 100%;
      animation-delay: -1.8s;
    }
  
    @keyframes fall {
      0% {
        transform: translateY(-15px);
      }
      100% {
        transform: translateY(260vh);
      }
    }
  }

  .head {
    margin: 0 auto;
    height: 30vh;
    width: 100%;
    background-color: rgba(207, 34, 230, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
  }

  .head__text {
    font-size: 1em;
  }

  .main {
    margin: 0 auto;
    height: 70vh;
    width: 100%;
    background-color: rgba(46, 217, 43, 0.3);
    display: flex;
    flex-direction: row;
  }

  .main__about-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main__title {
    font-size: 0.7em;
  }

  .main__about-content {
    font-size: 0.5em;
  }

  .main__skills {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main__skills-item {
    font-size: 0.5em;
  }

  .popup-message {
    display: flex;
    display: none;
    flex-direction: column;
    text-align: center;
    position: fixed;
    top: 40%;
    left: 40%;
    width: 20vw;
    height: 15vh;
    z-index: 100000;
    background: rgba(77, 97, 174, 0);
  }

  .popup_message-close {
    height: 10%;
    margin-top: 0%;
    margin-right: 0%;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
  }

  .popup-message__text {
    height: 90%;
    font-size: 0.5em;
    margin-top: 0%;
  }
   
  .gallery {
    margin-top: 5vh;
    margin-left: 7.5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "photo1 photo2"
    "photo3 photo4";
    gap: 10vh;
    justify-content: center;
    align-items: center;
  }
   
  .gallery__item {
    height: 50vh;
    width: 35vw;
    object-fit: cover;
    cursor: pointer;
  }
   
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
   
  .popup__image {
    max-height: 90%;
    max-width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
   
  .popup__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }
   
  .popup__button--prev {
    left: 5%;
  }
   
  .popup__button--next {
    right: 5%;
  }

  .footer {
    height: 30vh;
    margin-top: 5vw;
  }

  .style_button {
    margin-top: 15vh;
    height: 5vh;
    background-color: #212124;
    color: rgb(255, 251, 251);
    margin-left: 9%;
    margin-right: 0%;
    padding-right: 0%;
    width: 20%;
    z-index: -1;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s ease-in-out;
  }

  .modal__content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    animation-play-state: paused;
    transition: ease-in-out 2s;
  }

  .form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form__input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
  }

  .form__button {
    background-color: #32CD32;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .form__button:disabled {
    background-color: grey;
    cursor: not-allowed;
  }

  .form__successMessage {
    display: none;
    color: #1abc9c;
    font-size: 1.2rem;
    margin-top: 10px;
    text-align: center;
  }

  @keyframes fadeIn {
    from {
       opacity: 0;
    }
    to {
       opacity: 1;
    }
  } 
  
  .body.black-and-white {
    font-size: 55px;
  }

  .main.black-and-white {
    filter: grayscale(100%);
  }

  .head.black-and-white {
    filter: grayscale(100%);
  }

  .gallery.black-and-white {
    filter: grayscale(100%);
  }

  .form__button.black-and-white {
    filter: grayscale(100%);
  }

  @media (max-width: 800px) {
    .body {
      font-size: 35px;
      height: 300vh;
    }

    .body.black-and-white {
      font-size: 40px;
    }

    .main {
      flex-direction: column;
    }

    .main__about-section {
      width: 100%;
      height: 50%;
    }

    .main__skills {
      width: 100%;
      height: 50%;
    }

    .gallery {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .gallery__item {
      width: 50vw;
      height: 50vh;
    }
  }

